<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907387795008-ghgdtj4hqukq4dnvk9a9qn4mk7gqenmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907387795008-ghgdtj4hqukq4dnvk9a9qn4mk7gqenmq</string>
	<key>API_KEY</key>
	<string>AIzaSyBPDV2XT5YC5wJRV8pAtrvy3LGLoJSvYB8</string>
	<key>GCM_SENDER_ID</key>
	<string>907387795008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.katiestutts.ayib.ayibMobile</string>
	<key>PROJECT_ID</key>
	<string>ayib-b9bc8</string>
	<key>STORAGE_BUCKET</key>
	<string>ayib-b9bc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907387795008:ios:83e7f1008e3ab8300311a5</string>
</dict>
</plist>